# vim:ft=conf
NODE_ENV=development

# DATABASE
DATABASE_URL=file:local.db

# Auth
# openssl rand -base64 32
BETTER_AUTH_SECRET=
# Should be same as host url
BETTER_AUTH_URL=http://localhost:3000
# Auth(Oauth)
# https://console.developers.google.com/apis/credentials
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
