@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
  --background: oklch(0.994 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(0.994 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.5527 0.2708 291.3621);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.954 0.0063 255.4755);
  --secondary-foreground: oklch(0.1344 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.4386 0 0);
  --accent: oklch(0.9353 0.0307 271.7086);
  --accent-foreground: oklch(0.5183 0.2058 262.3793);
  --destructive: oklch(0.6351 0.1848 26.115);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.93 0.0094 286.2156);
  --input: oklch(0.9401 0 0);
  --ring: oklch(0 0 0);
  --chart-1: oklch(0.7476 0.1412 159.5004);
  --chart-2: oklch(0.5527 0.2708 291.3621);
  --chart-3: oklch(0.7557 0.1679 57.3254);
  --chart-4: oklch(0.5582 0.1951 263.0421);
  --chart-5: oklch(0.559 0 0);
  --sidebar: oklch(0.9777 0.0051 247.8763);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9401 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0 0 0);
  --font-sans:
    var(--font-next-sans), Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: var(--font-next-serif), Lora, serif;
  --font-mono: var(--font-next-mono), IBM Plex Mono, ui-monospace, monospace;
  --radius: 0.55rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.1);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.1);
  --shadow-sm:
    0px 2px 4px 0px hsl(0 0% 10.1961% / 0.2),
    0px 1px 2px -1px hsl(0 0% 10.1961% / 0.2);
  --shadow:
    0px 2px 4px 0px hsl(0 0% 10.1961% / 0.2),
    0px 1px 2px -1px hsl(0 0% 10.1961% / 0.2);
  --shadow-md:
    0px 2px 4px 0px hsl(0 0% 10.1961% / 0.2),
    0px 2px 4px -1px hsl(0 0% 10.1961% / 0.2);
  --shadow-lg:
    0px 2px 4px 0px hsl(0 0% 10.1961% / 0.2),
    0px 4px 6px -1px hsl(0 0% 10.1961% / 0.2);
  --shadow-xl:
    0px 2px 4px 0px hsl(0 0% 10.1961% / 0.2),
    0px 8px 10px -1px hsl(0 0% 10.1961% / 0.2);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.5);
  --tracking-normal: -0.025em;
  --spacing: 0.27rem;
}

.dark {
  --background: oklch(0.2223 0.006 271.1393);
  --foreground: oklch(0.9551 0 0);
  --card: oklch(0.2568 0.0076 274.6528);
  --card-foreground: oklch(0.9551 0 0);
  --popover: oklch(0.2568 0.0076 274.6528);
  --popover-foreground: oklch(0.9551 0 0);
  --primary: oklch(0.6237 0.2299 295.6127);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2914 0.0146 279.8154);
  --secondary-foreground: oklch(0.9551 0 0);
  --muted: oklch(0.2914 0.0146 279.8154);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.2742 0.0395 265.3173);
  --accent-foreground: oklch(0.7664 0.1223 253.009);
  --destructive: oklch(0.7233 0.156 25.837);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3289 0.0092 268.3843);
  --input: oklch(0.3289 0.0092 268.3843);
  --ring: oklch(0.6237 0.2299 295.6127);
  --chart-1: oklch(0.8022 0.1731 154.2876);
  --chart-2: oklch(0.6237 0.2299 295.6127);
  --chart-3: oklch(0.818 0.0964 24.0682);
  --chart-4: oklch(0.6483 0.1681 264.0998);
  --chart-5: oklch(0.7058 0 0);
  --sidebar: oklch(0.2115 0.006 301.035);
  --sidebar-foreground: oklch(0.9551 0 0);
  --sidebar-primary: oklch(0.6237 0.2299 295.6127);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2914 0.0146 279.8154);
  --sidebar-accent-foreground: oklch(0.6237 0.2299 295.6127);
  --sidebar-border: oklch(0.3289 0.0092 268.3843);
  --sidebar-ring: oklch(0.6237 0.2299 295.6127);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, ui-monospace, monospace;
  --radius: 0.55rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.1);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.1);
  --shadow-sm:
    0px 2px 4px 0px hsl(0 0% 10.1961% / 0.2),
    0px 1px 2px -1px hsl(0 0% 10.1961% / 0.2);
  --shadow:
    0px 2px 4px 0px hsl(0 0% 10.1961% / 0.2),
    0px 1px 2px -1px hsl(0 0% 10.1961% / 0.2);
  --shadow-md:
    0px 2px 4px 0px hsl(0 0% 10.1961% / 0.2),
    0px 2px 4px -1px hsl(0 0% 10.1961% / 0.2);
  --shadow-lg:
    0px 2px 4px 0px hsl(0 0% 10.1961% / 0.2),
    0px 4px 6px -1px hsl(0 0% 10.1961% / 0.2);
  --shadow-xl:
    0px 2px 4px 0px hsl(0 0% 10.1961% / 0.2),
    0px 8px 10px -1px hsl(0 0% 10.1961% / 0.2);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 10.1961% / 0.5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button,
  [type="button"],
  [type="menuitem"] {
    cursor: pointer;
  }
}
